<section class="container">
  <div class="d-flex justify-content-between align-items-center"><h1>Posts</h1><%= link_to 'New Post', new_post_path, class: 'btn btn-primary'%></div>
  <% @posts.each do |post| %>

    <article class="card mb-2">
      <div class="card-body">
          <h5 class="card-title">Component</h5>
          <% if user_signed_in? %>
            <h6 class="card-subtitle mb-2 text-muted">Written by: <span><%= post.user.name %></span></h6>
          <% end %>
          <p class="card-text"><%= post.post %></p>
      
      <% if user_signed_in? %>
          <%= link_to 'Show', post, class: "card-link" %>
          <%= link_to 'Edit', edit_post_path(post), class: "card-link" %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %>
      <% end %>
      </div>
    </article>

  <% end %>
</section>

