<p id="notice"><%= notice %></p>

<h1>Posts</h1>


  <section>
    <% @posts.each do |post| %>
      <article>
       <p><%= post.post %></p>
      <% if user_signed_in? %>
        <div>Written by: <span><%= post.user.name %></span></div>
        <ul>
        <li><%= link_to 'Show', post %></li>
        <li><%= link_to 'Edit', edit_post_path(post) %></li>
        <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
        <% end %>
      </article>
    <% end %>
  </section>
<br>

<%= link_to 'New Post', new_post_path %>
